<html>
  <body>
    <h1>Verification Code</h1>
    <p>Hello, {{name}}.</p>
    <p>To verify your account, please use the code below:</p>
    <h2>{{activationCode}}</h2>
    <p>This code will expire in 5 minutes.</p>
  </body>
</html>
